Evaluate feasibility of improving post-GOAWAY behaviour

We're compliant with [RFC7540§6.8](https://datatracker.ietf.org/doc/html/rfc7540#section-6.8), but we could consider doing a better job of continuing to process currently open streams after receiving a GOAWAY frame. Currently we just shut ourselves down upon receipt; it would be worth it to investigate the feasibility / value in improving this.


Planning issues are being moved; this is still on the books for 0.8