Host port should default to 80 if the Host header has been set

Assuming we want to keep compatibility with cowboy:

When the host header is set with cowboy without an explicit port, cowboy will default to port 80. 

To reproduce:

```bash
curl -H "Host: foo.co.za" http://localhost:4000
```
Should set conn.port to 80

```bash
curl http://localhost:4000
```
Should set conn.port to 4000

and 

```bash
curl -H "Host: foo.co.za:9999" http://localhost:4000
```
Should set conn.port to 9999

This is currently a issue with ueberauth when generating the callback_url. 

Bandit explicitly falls back to the port of the underlying transport if not set in the `Host` header (that is, it will be 4000 in all of the above examples). This is strictly more correct than Cowboy's blind assumption of port 80, and not something I'll entertain changing just for the sake of compatibility. Cowboy is wrong here, not us. 

References: 

* https://github.com/mtrudel/bandit/blob/17c360f78af5a07e6cd5e89a1d03469e21684164/lib/bandit/pipeline.ex#L71
* https://github.com/mtrudel/bandit/blob/17c360f78af5a07e6cd5e89a1d03469e21684164/test/bandit/http1/request_test.exs#L91-L97
* https://github.com/mtrudel/bandit/blob/17c360f78af5a07e6cd5e89a1d03469e21684164/test/bandit/http2/protocol_test.exs#L1502-L1517

Do you have details on the ueberauth issue so we can see if it can be fixed there? 

To my (at least *somewhat* learned) understanding, there isn't really an explicitly correct answer to this in the specs. I think the closest thing you're going to find to a normative answer on this is [RFC9110§7.2](https://www.rfc-editor.org/rfc/rfc9110#section-7.2). 

A couple of other places weigh in:
* [RFC9112§3.2.3](https://www.rfc-editor.org/rfc/rfc9112.html#name-authority-form) suggests to degrade to the protocol's default port, but with the very important caveat that this is in the context of a proxied CONNECT request (ie: the semantics in this case are closer to those of a client interpreting an unadorned URI). 
* [RFC9112§9](https://www.rfc-editor.org/rfc/rfc9112.html#name-connection-management) strongly implies that the client's decision as to how to interpret an unadorned URI is specifically implementation-dependent (really just a reinforcement of RFC9110§7.2)

So I don't think that the specs have a specific answer here. The more I think about this though, the less I think that this is really super important when it all comes down to it.

Ultimately, this comes down to what we want `%Plug.Conn{port: ...}` to mean.

If it's **what the user thinks they're connecting to**, then Cowboy defaulting to port 80 is probably the right thing (setting aside that this makes some assumptions about the client's intent that, as above, seems to be undefined).

If it's **what the user is *actually*' connected to**, then we do the right thing today.

I believe the second of these options to be the more correct one. One of [Bandit's fundamental goals](https://github.com/mtrudel/bandit#project-goals) is to codify a minimum of policy, and I see option 2 as furthering this goal more effectively. There is no way to not editorialize, at least somewhat, an answer to the first question, whereas there is a clear & objectively correct answer to the second. I'll take that option every time. If the user wants to figure out an answer to the first question, they can do so with full view of the inherent editorializing that goes into answering it. I don't think that's Bandit's job here.

Of course, all of the above is premised on the RFCs not being specifically normative on this point. If there's a clause somewhere that spells this behaviour out, I will happily tack that way (as I've said before, [being correct is Bandit's literal prime directive](https://github.com/mtrudel/bandit/pull/73#issuecomment-1385920609)). 

I just want to use bandit and ueberauth 😆 and do see why defaulting to 80 can be seen as a hack. Here is a draft PR for ueberauth which solves the issue: https://github.com/ueberauth/ueberauth/pull/181. 

Thanks for the detailed response and a great library.

