Bandit does not send `Sec-Websocket-Protocol` header in Upgrade response

We've upgraded from 1.5.7 to 1.6.2 and noticed that our websocket connections don't work in Chrome.

After some investigation I tracked the problem down to this [commit](https://github.com/mtrudel/bandit/commit/4781d3193b3304cf6a30b495cd512dcb580026c6). Specifically, Bandit does not return `Sec-Websocket-Protocol` header [set by Phoenix](https://github.com/phoenixframework/phoenix/blob/98ab9a77c7a14bb9a2978c094e458d8c72ff53e0/lib/phoenix/socket/transport.ex#L402).

<details>

<summary>
One file reproduction
</summary>

```elixir
Application.put_env(:phoenix, :json_library, Jason)

Application.put_env(:sample, SamplePhoenix.Endpoint,
  http: [ip: {127, 0, 0, 1}, port: 5001],
  adapter: Bandit.PhoenixAdapter,
  server: true,
  secret_key_base: String.duplicate("a", 64)
)

Mix.install([
  {:bandit, "1.6.1"},
  {:plug_cowboy, "~> 2.5"},
  {:jason, "~> 1.0"},
  {:phoenix, "~> 1.7.0"},
  {:mint_web_socket, "~> 1.0"}
])

defmodule SamplePhoenix.UserSocket do
  use Phoenix.Socket

  def connect(params, socket, _connect_info) do
    {:ok, socket}
  end

  def id(socket), do: nil
end

defmodule SamplePhoenix.Endpoint do
  use Phoenix.Endpoint, otp_app: :sample

  socket "/ws", SamplePhoenix.UserSocket,
    websocket: [
      subprotocols: ["sip", "mqtt"]
    ]
end

{:ok, _} = Supervisor.start_link([SamplePhoenix.Endpoint], strategy: :one_for_one)

{:ok, conn} = Mint.HTTP.connect(:http, "localhost", 5001)
{:ok, conn, ref} = Mint.WebSocket.upgrade(:ws, conn, "/ws/websocket", [{"Sec-WebSocket-Protocol", "mqtt"}])

message =
  receive do
    message -> message
  end

  {:ok, conn, [{:status, ^ref, status}, {:headers, ^ref, headers}, {:done, ^ref}]} =
    Mint.WebSocket.stream(conn, message)

IO.inspect(headers, label: "UPGRADE HEADERS")

```

</details>

With cowboy or Bandit 1.6.0 the header is present, while with Bandit 1.6.1 it is not.

Sigh, yep. this was a regression wherein we weren't sending any extra headers set by the plug in the upgrade (per RFC6455§1.2, that's a valid thing that we should be allowing). The gist of it was that 'basic' upgrades would work, but if you were setting sub-protocols or otherwise relying on headers sent during the upgrade, 1.6.1 would have busted you up as you saw. 

Fixed in #458; would love if you could validate it in that same environment if possible before merging

Thanks, I'll test and report shortly

Yep I can confirm https://github.com/mtrudel/bandit/pull/458 fixed it for us

Super. I'll let it sit overnight for review and merge/release tomorrow morning (GMT-5)

There's a good chance we'll have it on prod by the evening, so I'll report back if anything goes wrong 😅 