Support h2c via Upgrade: header

As specified in [RFC7540§3.2](https://datatracker.ietf.org/doc/html/rfc7540#section-3.2), allow HTTP/1.1 connections to upgrade to h2

Most of the plumbing is in place for this in the form of `Bandit.DelegatingHandler`. For examples of how to change protocols on the fly, see `Bandit.InitialHandler`'s protocol sniffing implementation.

Planning issues are being moved; this is still on the books for 1.0