Compress in compliance with RFCs

Great work with this project!

Working on [HTTP caching](https://github.com/tanguilp/plug_http_cache), I came upon some potential issues with HTTP compression in Cowboy that seem to apply to the current project as well:
- when compression is enabled, the `content-encoding` header should be added to the vary header (https://github.com/ninenines/cowboy/issues/1529). Actually it seems `vary` is never set. Since both `gzip` and `deflate` are supported (in addition to no encoding), it seems necessary so as to not confuse caches
- when the uncompressed response has a strong etag, the compressed response should have a different etag (https://github.com/ninenines/cowboy/issues/1546)
- I'm not sure I'm seeing `content-length` being reset after compression
- the [`no-transform` cache control directive](https://www.rfc-editor.org/rfc/rfc9111.html#name-no-transform-2) might apply to bandit

I won't have time to look at this in detail until mid next week, but assuming that there's RFC precedent for these points, they all seem reasonable. 

Alright, notes to self on this:

* I agree that we should be merging `accept-encoding` into whatever value of `vary` is passed back from the plug when we have compression enabled. That will be fixed shortly.
* Bandit doesn't implement any etag logic, since it's so tied up with issues of representation & caching and one of Bandit's principles is to express as little policy as possible. It ought to be possible for a plug to be aware of the content-encoding in use for a response, since Bandit computes this before calling to Plug. You can look at the `content_encoding` field on the underlying adapter within your plug call, though this is admittedly a super bogus approach. I'm open to ideas if you have any!
* content-length on content-encoded responses was broken prior to `pre-7` (see [here](https://github.com/mtrudel/bandit/blob/main/CHANGELOG.md#fixes-3)). If you're still seeing an issue, I'd love a repro case; please file a separate issue if this is the case. 
* Regarding `no-transform`, Bandit once again does not express any policy here by design.

Thanks for your answer!

Regarding the 2nd (etag) and 4th (`no-transform`) point, my point is that since bandit automatically compresses responses (enabled by default), then it is already acting as an intermediary that alters the HTTP representation. My _interpretation_ of the HTTP RFCs is that, as a consequence, it should apply the specified processing rules, that is:
- 2nd case: not automatically compress a response that has a strong etag (set by the user in the plug), or generate another unique strong etag for that representation (but it might be hard to do) ([link to updated RFC](https://www.rfc-editor.org/rfc/rfc9110#name-example-entity-tags-varying))
- 4th case: same when `cache-control: no-transform` is set

In both case I'm thinking of headers set by the user, before the response is compressed then sent. What do you think?

> my point is that since bandit automatically compresses responses (enabled by default), then it is already acting as an intermediary that alters the HTTP representation.

First off, you're absolutely correct. This is a balance that I've long struggled with when writing Bandit; how best to thread the needle between implementing all of the features that are table stakes for a web server on the one hand, and expressing a bare minimum of policy on the other. 

Your proposal makes perfect sense. I agree that both of those are 1. necessary for correctness, and 2. light enough on codified policy that I don't see a problem with them. 

The one thing I'm not sure about is having to trade compression for strong tag support. Assuming we wanted to provide an option to compress content with strong tags, the question of if / how we should be generating a new etag is a tricky one. Speaking strictly from a protocol perspective I think it would be compliant / sufficient to append a string of the form `-gzip` / `-deflate`, etc to the provided strong tag; this would work in a way that would be *mostly* transparent to both the client and the underlying Plug.  I say 'mostly' because it violates the spirit of [RFC9110§8.8.3.1](https://datatracker.ietf.org/doc/html/rfc9110#name-generation-2), at least from the perspective of the Plug. I'm pretty sure that anyone downstream would be indifferent. If you have opinions here I'm happy to defer.

So, takeaways:

1. Let's at least stop compressing responses that have a strong etag set. If we can come up with a simple way to generate new ones, we can also use that (either by default or via an option)

2. Let's stop compressing responses where `cache-control: no-transform` is set.



> I agree that both of those are 1. necessary for correctness

This is why I opened this issue in the first place, because I saw you were aiming at strict RFC compliance and I had these points in mind because of my recent work on HTTP caching.

> Speaking strictly from a protocol perspective I think it would be compliant / sufficient to append a string of the form -gzip / -deflate, etc to the provided strong tag;

Yes it would almost work, I think at least in this context. This has been discussed [here](https://bz.apache.org/bugzilla/show_bug.cgi?id=63932) already some time ago. I don't have an opinion on what to do here unfortunately.