Websocket stays open, even after {:stop, :normal, state}

I am wondering about how to stop a websocket connection :thinking: 

My websocket is monitoring a process via `Process.monitor/1` and when the monitored process dies, I also want to stop the websocket connection. I tried to do so by returning `{:stop, :normal, state}` in `handle_info/1` when seeing the `:DOWN`-message:

```elixir
# ...

@impl true
def init([]) do
  pid = get_pid_of_process_that_should_be_monitored()
  Process.monitor(pid)
  {:ok, []}
end
# ...

@impl true
def handle_info({:DOWN, _ref, :process, _pid, _reason}, state) do
  Logger.warn("Monitored process has died")
  {:stop, :normal, state}
end

# ...

@impl true
def terminate(_reason, _state) do
  :ok
end
```

But even after killing the monitored process and seeing the log message `Monitored process has died`, the websocket connection is still open and the client can send messages. I can see the messages coming in to the `handle_in/2` callback :thinking: I would've expected the websocket connection to be closed.

**Edit:** Tested with 0.7.7 and 1.0.0-pre.9

At first read that ought to work - this is heavily tested part of the codebase as well, so I'm not sure what's going on exactly. 

Let me see if I can repro this locally. 

I've confirmed that Bandit it working as expected:

1. Set up a server by running this in an iex session:
```
Mix.install([:plug, :websock_adapter, :bandit])

defmodule DummyGenServer do
  use GenServer

  def start_link(_), do: GenServer.start_link(__MODULE__, [])
  def init(_), do: {:ok, nil}
end


defmodule DemoServer do
  def init(pid) do
    IO.puts("Starting up WebSocket that's monitoring #{inspect(pid)}")
    Process.monitor(pid)
    {:ok, %{}}
  end

  def handle_in({msg, [opcode: :text]}, state) do
    {:push, {:text, String.upcase(msg)}, state}
  end

  def handle_info({:DOWN, _ref, :process, _pid, _reason}, state) do
    IO.puts("Monitored process has died")
    {:stop, :normal, state}
  end

  def terminate(_reason, _state) do
    IO.puts("In terminate")
    :ok
  end
end

defmodule MyPlug do
  def init(opts), do: opts

  def call(conn, opts) do
    WebSockAdapter.upgrade(conn, DemoServer, opts[:pid], timeout: 60_000)
  end
end

{:ok, pid} = DummyGenServer.start_link(:ok)
{:ok, bandit_pid} = Bandit.start_link(plug: {MyPlug, pid: pid})
```

2. Connect to it by running the following in a browser console:
```
sock  = new WebSocket("ws://localhost:4000/")
sock.addEventListener("message", console.log)
sock.send("lowercase") // Verify it's connected (expect an UPPERCASE reply)"
```

3. Stop the monitored GenServer by running `GenServer.stop(pid)` in the iex session. You should see a `Monitored process has died` and `In terminate` for every connected WebSocket.

4. Confirm that the WebSocket clients are disconnected in the browser inspector
5. Confirm that Bandit is not running any connections via `ThousandIsland.connection_pids(bandit_pid)`.

This stuff is pretty tricky at the best of times. I don't know exactly what to suggest here, but I'm reasonably sure that this isn't an issue with Bandit. I'm going to close the issue, but if subsequent investigation on your part reveals anything amiss with the library, I'd love to know!

Thanks for the issue!

Your example works as expected for me :thinking: I can still reproduce this issue with my application :shrug:

I tried to extract only the websocket stuff from my application to provide a working example for you, but then I realized it just works. So, there must be an issue within my application.

Will have a deeper look to see what is keeping the connection open and will tell you, when I found the root cause :wink: 

Okay, I found a way to reproduce my issue and it is a bit different to like I initially described it :confused: As far as I had a look into the Bandit code, it shouldn't be a difference, but who knows :shrug: You're the bandit expert :wink: 

I pushed the application to https://github.com/janpieper/bandit-issue-173. The README contains some information about what I did and what I see.

This seems to be a problem with `websocat`. The server sends the CloseFrame but doesn't seem to finish the closing handshake (see: https://datatracker.ietf.org/doc/html/rfc6455#section-7.1.2).

Trying `wscat` works as expected:
```bash
% wscat -c ws://127.0.0.1:6789/ws

Connected (press CTRL+C to quit)
> test
Disconnected (code: 1000, reason: "")
```

But any messages following the initial closing message should be discarded by bandit.
[RFC6455 Section 1.4](https://datatracker.ietf.org/doc/html/rfc6455#section-1.4): 
> ...
After sending a control frame indicating the connection should be
   closed, a peer does not send any further data; after receiving a
   control frame indicating the connection should be closed, a peer
   discards any further data received.

I would expect the server (bandit) to close the connection (after `{:stop, :normal, state}`) regardless how the client behaves.

> If the client does not handle the closing procedure right, can't we (bandit) not just force closing the connection?

We couldn't know for sure if the client is handling it wrong or is purposely keeping the connection open (e.g. as described in the RFC [here](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.1) to send the remaining frames of a large fragmented message)

The RFC also states: 
> If an endpoint receives a Close frame and did not previously send a
   Close frame, the endpoint **MUST** send a Close frame in response.

So this should probably be fixed by `websocat`.

IMO we should wait for the close message and if the client sends any other message, except a close frame or a continuation for an already started fragmented message, close the underlying TCP connection from our side.

@mtrudel What do you think?


In terms of the closing procedure, I'm quite confident (and autobahn will back me up) that we're handling all the cases correctly today. We can't forcibly shut down the connection without waiting for a close response from the client, at least not in the normal case.

Where things get murkier is in what we do with *other* frame types when we're in a CLOSING state...

> But any messages following the initial closing message should be discarded by bandit.
[RFC6455 Section 1.4](https://datatracker.ietf.org/doc/html/rfc6455#section-1.4):

That section isn't normative; you want to look at §5.5.1 and §7 for that. Neither says anything specific about this particular case, and the language of §1.4 is a tad unclear as well.

We're specifically not prohibited from *receiving* frames after sending a close frame (as @moogle19 suggests, to handle the case where the other end still has a large number of fragments to send), so we're fine that far. The question about whether or not we allow *sending* of frames after a close is a bit murkier. Even though it's non-normative, I think the intent of §1.4 is clear in that we shouldn't be sending anything further, but it raises the question of how we might go about signalling this to the user if they tried to do so. Although we track the connection state internally, we don't expose it to the user. Forcing the user to both track the connection state and craft different responses based on it seems like a lot of work solely to work around oddball clients such as `websocat`. 

One thing I did notice in looking into things for this, is that we don't have a mechanism to timeout closing connections (other than thousand island's intrinsic inter-message timeout). There's nothing to prevent a client from keeping a connection in the CLOSING state open in perpetuity just by continuing to send messages. We really should be setting a non-cancellable close timeout when we start the close procedure on our end, and shut the connection down forcibly if it's still open once it fires.  I'll add a note to my backlog to address this.