HTTP1 socket might be overly tolerant of socket timeout error

STR:
1. Send a simple HTTP1.1 POST request to a Bandit-powered Phoenix application, but set `Content-Length` header bigger than the actual body length
2. The request returns `413 Request Entity Too Large` after waiting for `read_timeout` (default 60_000) ms.

I believe the reason for this is that Bandit just returns what [it read so far in case of socket timeout](https://github.com/mtrudel/bandit/blob/dc842949996a8069f068263abd6331834be15b3a/lib/bandit/http1/socket.ex#L316). I wonder if this is the correct behaviour here? I'm not an expert on interpreting HTTP standard, but reading through [RFC9112§6.3.6](https://www.rfc-editor.org/rfc/rfc9112.html#section-6.3-2.6) it seems like it's calling for a more brutal handling?

> If a valid [Content-Length](https://www.rfc-editor.org/rfc/rfc9112.html#body.content-length) header field is present without [Transfer-Encoding](https://www.rfc-editor.org/rfc/rfc9112.html#field.transfer-encoding), its decimal value defines the expected message body length in octets. If the sender closes the connection **or the recipient times out before the indicated number of octets are received**, the recipient MUST consider the message to be incomplete and close the connection.

`Plug.Conn.Adapter.read_req_body/2` callback support error tuple as a response, so perhaps `Bandit.Adapter` should use it instead of returning a `:more` tuple?

For context, after switching to Bandit, we began to see mysterious `Plug.Parsers.RequestTooLargeError` errors from requests that are well below default `length` limit of `8_000_000` bytes. After some investigation, I stumbled upon this behaviour. I'm not sure if this is indeed what we see and if it is, why content length would be incorrect for some requests, but I'm worried that `RequestTooLargeError` may be obfuscating real error in some cases.

Yep the behaviour currently is intentional, but also not always ideal in exactly the way you mention. The rationale for it comes from a read of the [Plug.Conn.read_body/2](https://hexdocs.pm/plug/Plug.Conn.html#read_body/2) docs, which say

> In order to, for instance, support slower clients you can tune the :read_length and :read_timeout options. These specify how much time should be allowed to pass for each read from the underlying socket.

The implication there (at least to my eye) is that timeouts are intended to be 'soft', and should end up surfacing as a `{:more...}` tuple to the caller in order to provide more control over the timing of slow reads.

That said, I'm open to changing the semantic if real world use is showing this choice to be the wrong one. 

Perhaps a better approach might be: if the timeout fires and *some* data has been received, return a value of `{:more...}` to the caller. if *no* data has been received, then consider it a hard timeout and raise an error. Alternately, the behaviour could be made configurable at a server level. 

WDYT?


Hmm, I feel like in the context of `Plug`, the semantics calls for error response, as it won't take advantage of soft timeouts and will just translate the result to `RequestTooLarge` error, which is pretty confusing.

However, I do think it would be nice to have an escape hatch for clients to treat this timeout as soft. The question I would ask is "what would it take for a client to change this behaviour to return the data it read so far instead of an error?". Plug allows you to replace `Plug.Conn.read_body/2` using `:body_reader` option and from there one will have to reimplement `Bandit.Adapter.read_req_body`. To me this doesn't sound too bad, but we'll need to ensure that `Bandit.Adapter.read_req_body` is composed of public functions so that making your own won't be too complicated. 

The configuration option will also work of course, although it will be a weird one if you decide NOT to change `body_reader`. You will basically configure what error you want to get: `RequestTooLarge` or socket timeout 🤔 But it would make it easier to write your own `Bandit.Adapter.read_req_body` for sure, as you will only need to call `read_req_body` with the option altered.

Does it make sense? 😅 

> Hmm, I feel like in the context of Plug, the semantics calls for error response

Yeah, reading the above passage from the plug docs again, I can see how it could be interpreted that way. Before we go too far one way or the other though....

> ... will just translate the result to RequestTooLarge error, which is pretty confusing.

I'd love to have a repro case to see how this manifests. Honestly, this sounds like an upstream bug (or more likely, a place where things coincidentally always worked with Cowboy). 

If we can get a repro that shows the case here, it should be easy to bake off the error/no error cases to see which fits better. 

Of course! Here's a single file app taken straight from phoenix playground examples:

```elixir
#!/usr/bin/env elixir
Mix.install([
  {:phoenix_playground, "~> 0.1.4"}
])

PhoenixPlayground.start(
  plug: fn conn ->
    Plug.Conn.send_resp(conn, 200, "Hello!")
  end
)
```

save it to a file and run with `elixir request_too_large.exs`. Then execute this curl request:

```
curl --request POST \
  --url http://localhost:4000/ \
  --header 'Content-Length: 9000000' \
  --header 'Content-Type: application/json'
```

After 60 seconds, you should see the error in logs:

```
10:00:43.669 [debug] ** (Plug.Parsers.RequestTooLargeError) the request is too large. If you are willing to process larger requests, please give a :length to Plug.Parsers
    (plug 1.16.1) lib/plug/parsers.ex:349: Plug.Parsers.reduce/8
    (phoenix_playground 0.1.4) lib/phoenix_playground/endpoint.ex:3: PhoenixPlayground.Endpoint.plug_builder_call/2
    (phoenix_playground 0.1.4) /Users/amartsinovich/Library/Caches/mix/installs/elixir-1.16.3-erts-14.2.5/111238915328ae13b9a72a81139448a1/deps/plug/lib/plug/debugger.ex:136: PhoenixPlayground.Endpoint."call (overridable 3)"/2
    (phoenix_playground 0.1.4) lib/phoenix_playground/endpoint.ex:3: PhoenixPlayground.Endpoint.call/2
    (bandit 1.5.5) lib/bandit/pipeline.ex:124: Bandit.Pipeline.call_plug!/2
    (bandit 1.5.5) lib/bandit/pipeline.ex:36: Bandit.Pipeline.run/4
    (bandit 1.5.5) lib/bandit/http1/handler.ex:12: Bandit.HTTP1.Handler.handle_data/3
    (bandit 1.5.5) lib/bandit/delegating_handler.ex:18: Bandit.DelegatingHandler.handle_data/3
```

Proposed fix is up at #385 - thoughts / review welcome



So receiving a timeout makes the connection pretty much unusable? Yeah, I think in this case raising an exception is the best thing to do 👍 The solution looks good to me!

> So receiving a timeout makes the connection pretty much unusable?

Yep. We need to track the socket state *somewhere* (we usually do this inside `conn`'s `adapter` field), and because the error tuple doesn't provide a way to do so there's no real way to know what state the underlying socket is in after we return the error tuple.